<div class="row">
    <div class="col-md-3 col-sm-12">
        <ul>
            <li>Add Products</li>
            <li>All Products</li>
            <li>Order Details</li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12 center-block">
        <div class="all-orders-section">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Order id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#001</td>
                        <td>2022/01/01</td>
                        <td>Rs.805.00</td>
                        <td><span class="status-lable-p">Pending</span></td>
                        <td>
                            <a href="#"><span class="text-primary mr-3">Complete</span></a>
                            <a href="#"><span class="text-danger">Cancel</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>2022/01/01</td>
                        <td>Rs.345.00</td>
                        <td><span class="status-lable-c">Cancel</span></td>
                        <td>
                            <a href="#"><span class="text-primary mr-3">Complete </span></a>
                            <a href="#"><span class="text-danger "> Cancel</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#001</td>
                        <td>2022/01/01</td>
                        <td>Rs.450.00</td>
                        <td><span class="status-lable-co">Complete</span></td>
                        <td>
                            <a href="#"><span class="text-primary">Complete</span></a>
                            <a href="#"><span class="text-danger">Cancel</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>