<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Sabra Hospital</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<!-- End Nav Bar -->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard">
                            <i class="fa fa-home"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="create_product">
                            <i class="fa fa-list"></i>
                            Add Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db_doctors">
                            <i class="fa fa-user-md"></i>
                            Doctors
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db_patients">
                            <i class="fa fa-users"></i>
                            Patients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db_pharmacy">
                            <i class="fas fa-clinic-medical"></i>
                            Pharmacy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/db_lab">
                            <i class="fas fa-flask"></i>
                            Laboratory
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- @yield('dashboard_heading') -->
    </div>
    <router-outlet></router-outlet>
</div>