<div class="row">
    <div class="col-md-3 col-sm-12">
        <ul>
            <li>Add Products</li>
            <li>All Products</li>
            <li>Order Details</li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-12 center-block">
        <div class="product-create-section">
            <form class="max-width">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="name" class="form-label">Product Name</label>
                            <input [(ngModel)]="createProductData.name" type="text" name="name" placeholder="Enter the product name" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="price" class="form-label">Product price</label>
                            <input [(ngModel)]="createProductData.price" type="number" name="price" class="form-control" placeholder="Enter the product price" id="price">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="sold" class="form-label">Sold product</label>
                            <input [(ngModel)]="createProductData.sold" type="number" name="sold" placeholder="Enter the sold product" class="form-control" id="sold">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="available" class="form-label">Available product</label>
                            <input [(ngModel)]="createProductData.available" type="number" name="available" class="form-control" placeholder="Enter the available product" id="available">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Product quantity</label>
                            <input [(ngModel)]="createProductData.quantity" type="number" name="quantity" placeholder="Enter the quantity" class="form-control" id="quantity">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <label for="price" class="form-label">Choose product image</label>
                            <div class="custom-file">
                                <input type="file" name="image" class="custom-file-input" lang="es">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea [(ngModel)]="createProductData.description" type="textarea" cols="4" rows="4" name="description" class="form-control" placeholder="Enter the product description" id="description"></textarea>
                    </div>
                </div>
                <button (click)="productCreate()" type="submit" class="btn btn-success">Save</button>
                <button type="" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>