<div class="container wrapper">
    <div style="position: relative">
        <div>
            <img class="doctor-image " src="assets/images/seafoods.png" alt="Home Image">
            <div class="img-bottom"></div>
        </div>

        <div class="land-text1">
            Best place for seafoods lovers
        </div>
        <div class="land-text1 sub">
            Always Fresh and clean
        </div>

        <div class="land-text-bold">
            From sea to plate
        </div>

        <div class="row main-btn">
            <div class="make-appointment-btn">
                Explore Products
            </div>
            <div class="shopnow">
                View your Orders
            </div>
        </div>
    </div>
</div>